*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/zconf.h.included

.DS_Store

/build
/Makefile
/configure.log
/contrib/vstudio/vc14/.vs/zlibvc
/contrib/vstudio/vc14/x64/Debug/minizip.tlog
/contrib/vstudio/vc14/x64/Debug
/contrib/vstudio/vc14/x64/MiniUnzipDebug/Tmp
/contrib/vstudio/vc14/x64/TestZlibDebug/Tmp
/contrib/vstudio/vc14/x64/TestZlibDllDebug/Tmp
/contrib/vstudio/vc14/x64/ZlibDllDebug/Tmp
/contrib/vstudio/vc14/x64/ZlibStatDebug
/contrib/vstudio/vc14/x64/ZlibStatRelease
